.results-wrapper(ng-show='gameOver', ng-controller='ResultCtrl')
  .rainbow(ng-style='{\'background-color\': colors[color(0)]}')
  .rainbow(ng-style='{\'background-color\': colors[color(1)]}')
  .rainbow(ng-style='{\'background-color\': colors[color(2)]}')
  .rainbow(ng-style='{\'background-color\': colors[color(3)]}')
  .rainbow(ng-style='{\'background-color\': colors[color(4)]}')
  .rainbow(ng-style='{\'background-color\': colors[color(5)]}')
